<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <aside class="elaium-charmbar">
  <button class="elaium-charm-item" title="item1"><span>:D</span></button>
  <button class="elaium-charm-item" title="item2"><span>:C</span></button>
  <button class="elaium-charm-item active" title="item3"><span>:3</span></button>
  <button class="elaium-charm-item" title="item4"><span>XD</span></button>
</aside>
</body>
</html>