<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="elaium-card">
  <div class="elaium-card-badge">test</div>
  <div class="elaium-card-image">
    <div class="elaium-card-gloss"></div>
    <span class="elaium-card-icon">🌊</span>
  </div>
  <h3 class="elaium-card-title">test</h3>
  <p class="elaium-card-desc">test</p>
</div>
</div>
</body>
</html>