<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="elaium-dialog-overlay">
  <div class="elaium-dialog">
    <div class="elaium-dialog-title">test dialog</dialog></div>
    <div class="elaium-dialog-body">test dialog</div>
    <div class="elaium-dialog-footer">
      <button class="elaium-btn" style="padding: 6px 16px;">button</button>
      <button class="elaium-btn" style="padding: 6px 16px; background: linear-gradient(180deg, #e6e6e6 0%, #a6a6a6 100%); border-color: #666; color: #333;">Cancelar</button>
    </div>
  </div>
</div>
</body>
</html>