<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="elaium-chat">
  <div class="elaium-msg incoming">
    <div class="elaium-avatar">🧑‍💻</div>
    <div class="elaium-bubble">My god you so idiot</div>
  </div>
  <div class="elaium-msg outgoing">
    <div class="elaium-bubble">i don't fucking care, you stupid bitch</div>
  </div>
</div>
</div>
</body>
</html>
