<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="elaium-player">
  <div class="elaium-player-display">
    <div class="elaium-player-title">🎵 sample</div>
    <div class="elaium-player-wave"></div>
  </div>
  <div class="elaium-player-controls">
    <button class="elaium-player-btn">⏮️️</button>
    <button class="elaium-player-btn play">▶️</button>
    <button class="elaium-player-btn">⏭️</button>
    <input type="range" class="elaium-slider" min="0" max="100" value="40" />
  </div>
</div>
</body>
</html>
