<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <details class="elaium-collapse">
  <summary class="elaium-collapse-header">
    <span>🌐 Detalhes da Conexão</span>
    <span class="elaium-collapse-arrow">▼</span>
  </summary>
  <div class="elaium-collapse-content">
    <p>psop<br>idk</p>
  </div>
</details>
</body>
</html>
