<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="elaium-calendar">
  <div class="elaium-cal-header">
    <button>&lt;</button>
    <span>Setember 2026</span>
    <button>&gt;</button>
  </div>
  <div class="elaium-cal-grid">
    <span class="day-name">D</span><span class="day-name">S</span><span class="day-name">T</span><span class="day-name">Q</span><span class="day-name">Q</span><span class="day-name">S</span><span class="day-name">S</span>
    <span>27</span><span>28</span><span>29</span><span class="selected">30</span><span>1</span><span>2</span><span>3</span>
  </div>
</div>
</body>
</html>