<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <ul class="elaium-menu">
  <li class="elaium-menu-item">
    <span>test</span>
  </li>
  <li class="elaium-menu-item has-submenu">
    <span>test1</span>
    <span class="elaium-arrow">▶</span>
    <ul class="elaium-submenu">
      <li class="elaium-menu-item"><span>item1</span></li>
      <li class="elaium-menu-item"><span>item2</span></li>
      <li class="elaium-menu-item"><span>item3</span></li>
    </ul>
  </li>
  <li class="elaium-menu-divider"></li>
  <li class="elaium-menu-item danger">
    <span>danger menu</span>
  </li>
</ul>
</body>
</html>