<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="elaium-countdown">
  <div class="elaium-cd-unit">
    <div class="elaium-cd-box">03</div>
    <span class="elaium-cd-label">Days</span>
  </div>
  <span class="elaium-cd-dots">:</span>
  <div class="elaium-cd-unit">
    <div class="elaium-cd-box">12</div>
    <span class="elaium-cd-label">Hours</span>
  </div>
  <span class="elaium-cd-dots">:</span>
  <div class="elaium-cd-unit">
    <div class="elaium-cd-box">45</div>
    <span class="elaium-cd-label">Min</span>
  </div>
  <span class="elaium-cd-dots">:</span>
  <div class="elaium-cd-unit">
    <div class="elaium-cd-box">08</div>
    <span class="elaium-cd-label">Sec</span>
  </div>
</div>
</body>
</html>