<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav class="elaium-ribbon">
  <div class="elaium-ribbon-tabs">
    <button class="elaium-ribbon-tab active">active tab</button>
    <button class="elaium-ribbon-tab">generic tab</button>
    <button class="elaium-ribbon-tab">generic tab</button>
  </div>
  <div class="elaium-ribbon-toolbar">
    <div class="elaium-ribbon-group">
      <button class="elaium-ribbon-btn">button1</button>
      <button class="elaium-ribbon-btn">button2</button>
    </div>
    <div class="elaium-ribbon-divider"></div>
    <div class="elaium-ribbon-group">
      <button class="elaium-ribbon-btn">button3</button>
      <button class="elaium-ribbon-btn">button4</button>
    </div>
  </div>
</nav>
</body>
</html>